.tedwp-archive{display:flex;align-items:center;justify-content:center;margin-top:2rem}.tedwp-archive__title{display:flex;align-items:center;font-weight:400 !important;font-size:15px}.tedwp-archive__title--icon{margin-right:4px}

